<div class="row-fluid">

	<div class="page-header">
		<h1>
			mateBet DB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Ligen</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Liga</th>
					<th>Season</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="l in leagues">
					<td><a href="#/league/groups/{{l.leagueId}}">&nbsp;{{l.leagueId}}&nbsp;</a></td>
					<td>{{l.title}}</td>
					<td>{{l.saison}}</td>
					<td><input ng-show="!l.disabled"
							class="btn btn-danger text-right" type="button" value="Disable"
							ng-click="disableLeague(l.leagueId)" />
						<input ng-show="l.disabled"
							class="btn btn-assertive text-right" type="button" value="Enable"
							ng-click="enableLeague(l.leagueId)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
