 // specify options
      var options = {
        width:  '1000px',
        height: '1000px',
        style: style,
        xBarWidth: xBarWidth,
        yBarWidth: yBarWidth,
        showPerspective: showPerspective,
        showGrid: true,
        showShadow: false,
        keepAspectRatio: true,
        verticalRatio: 0.5
      };

      var camera = graph ? graph.getCameraPosition() : null;

      // create our graph
      var container = document.getElementById('mygraph');
      graph = new vis.Graph3d(container, data, options);

      if (camera) graph.setCameraPosition(camera); // restore camera position

      document.getElementById('style').onchange = drawVisualization;
      document.getElementById('perspective').onchange = drawVisualization;
      document.getElementById('xBarWidth').onchange = drawVisualization;
      document.getElementById('yBarWidth').onchange = drawVisualization;
    }
  </script>

</head>

<body onload="drawVisualization()">

<p>
  <label for="style"> Style:
    <select id="style">
      <option value="bar">bar</option>
      <option value="bar-color">bar-color</option>
      <option value="bar-size">bar-size</option>

      <option value="dot">dot</option>
      <option value="dot-line">dot-line</option>
      <option value="dot-color">dot-color</option>
      <option value="dot-size">dot-size</option>

      <option value="grid">grid</option>
      <option value="line">line</option>
      <option value="surface">surface</option>
    </select>
  </label>
</p>

<p>
  <label for="perspective">
    <input type="checkbox" id="perspective" checked> Show perspective
  </label>
</p>

<p>
  <label for="xBarWidth"> Bar width X:
    <input type="text" id="xBarWidth" value="" style="width:50px;"> (only applicable for styles "bar" and "bar-color")
  </label>
</p>
<p>
  <label for="yBarWidth"> Bar width Y:
    <input type="text" id="yBarWidth" value="" style="width:50px;"> (only applicable for styles "bar" and "bar-color")
  </label>
</p>

<div id="mygraph"></div>

<div id="info"></div>
</body>
</html>
